*
{
margin:0px;
}

@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width:80%;
}

.li2{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width:80%;
    position:relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
    animation-iteration-count: 1;
    animation-direction: reverse;

}
.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image:url("menu3.svg");
    background-size:100%;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

.li1 {
    float: left;
}



.liform1 {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 100px;
    text-decoration: none;
    width:300px;
    
}

.heading
{
 color:yellow;
 background-color:#D2691E;
 text-align:center;
 font-family:verdana;
 height:50px;
 background-image:url("hadoop.jpg");
 background-size:170px;
 background-repeat: no-repeat;
 padding: 40px 40px;
 position:relative;
 -webkit-animation: mymove 5s infinite;
 animation: mymove 5s infinite;
 animation-iteration-count: 1;
}


input[type=submit] {
    text-align:center;
    width:270px;
    height:270px;
    background-image: url("options.jpg");
    background-size:250px;
    background-repeat: no-repeat;
}

input[type=submit]:hover{
    text-align:center;
    width:400px;
    height:400px;
    background-image: url("options.jpg");
    background-size:400px;
    background-repeat: no-repeat;
}
